body{
    background-color: rgb(254,250,239);
}

.container {
    background-color: rgb(254,250,239);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.quiz-card{
    width: 30rem;
}
.question-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid rgba(0,0,0,0.1);
    padding: 15px;
}
.answer-card:hover{
    cursor: pointer;
    background-color: rgba(0,0,0,0.1);
}

.bg-success , .bg-danger {
    color: white;
}
button:disabled{
    background-color: gray;
    color: black;
}