body{
    background-color: rgb(254,250,239);
}

a {
    margin: 5px;
    text-decoration: none;
    color: rgba(238, 233, 233, 0.5);
}
b{
    font-size: 18px;
}

a:hover {
    color: white;
}
.container {
    background-color: rgb(254,250,239);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.quiz-card{
    width: 30rem;
}
.question-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid rgba(0,0,0,0.1);
    padding: 15px;
}
.answer-card{
    max-height: 150px !important; 
}
.answer-card:hover{
    cursor: pointer;
    background-color: rgba(0,0,0,0.1);
}

.bg-success , .bg-danger {
    color: white;
}
button:disabled{
    background-color: gray;
    color: black;
}

.card {
    display: flex;
    flex-direction: unset;
    min-height: 60vh;
    min-width: 80%;
}
.card-header {
    background-color:rgb(39,53,92);
}

.d-flex{
    display: flex;
}

.flex-column {
    flex-direction: column;

}

.jc-spaceAround{
    justify-content: space-around;
}

.jc-center{
    justify-content: center;
}
.jc-start{
    justify-content: start;
}
.jc-end{
    justify-content: end;
}
.alignItems-l{
    align-items: left;
}
.alignItems-r{
    align-items: end;
}
.alignItems-c{
    align-items: center;
}

.margin-15px{
    margin: 15px;
}

.text-align-c{
    text-align: center;
}
.text-align-r{
    text-align: right;
}
.text-align-l{
    text-align: left;
}

.start-btn{
    min-width: 150px;
    
}
.color-gold {
    color:rgb(245,167,105);
    font-weight: 700;
    margin: 0;
}